h1
{
    text-align: center;
}
legend 
{
    text-align: center;
}
form
{
    background-image: url();
    margin-left: 200px;
    width: 60%;

}
input[type="text"],
input[type="email"],
textarea,
select,
    {
        width: 90%;
    }
    input[type="Password"],
    